body{
    background-image: url(mult/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.reference{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: italic;
}
.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;       
    padding-left: 15px;
    padding-right: 15px;
    z-index: initial;
    top: auto;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 1%;
    padding-right: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.wrap{
    background: rgb(207, 204, 204);
    border-top: 1px;
    border-bottom: 1px;
    padding-top: 1.0714285714rem;
    padding-bottom: 1.0714285714rem;
}

/*MENU_MOv*/
@keyframes breathing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.resaltar {
transition: all 0.3s ease-out;
}

.resaltar:hover {
    font-size: 1.9em;
    opacity: 0.8;
}
#navegacion  {
background-color: #333;
color: white;
padding: 10px;
}

nav {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
height: 50px;
}


.ul_menu {
list-style-type: none;
margin: 0;
padding: 0;
}

.li_menu {
display: inline-block;
}

a {
color: white;
padding: 10px;
text-decoration: none;
}

.dropdown {
position: relative;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}